
.vs/
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/*
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/buildid.txt
PersonalityQuiz/PersonalityQuiz.Android/bin/Debug/PersonalityQuiz.Android.dll
PersonalityQuiz/PersonalityQuiz.Android/bin/Debug/PersonalityQuiz.Android.dll
PersonalityQuiz/PersonalityQuiz.Android/bin/Debug/PersonalityQuiz.Android.pdb
PersonalityQuiz/PersonalityQuiz.Android/bin/Debug/PersonalityQuiz.dll
PersonalityQuiz/PersonalityQuiz.Android/bin/Debug/PersonalityQuiz.pdb
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/assets/PersonalityQuiz.Android.dll
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/assets/PersonalityQuiz.Android.pdb
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/assets/PersonalityQuiz.dll
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/assets/PersonalityQuiz.pdb
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/assets/Xamarin.Forms.Platform.Android.dll
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/classes.dex
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/classes.zip
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/classes/mono/android/support/v4/view/accessibility/AccessibilityManagerCompat_TouchExplorationStateChangeListenerImplementor.class
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/classes/mono/android/support/v4/view/accessibility/AccessibilityManagerCompat_TouchExplorationStateChangeListenerImplementor.class
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/classes/mono/MonoPackageManager_Resources.class
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/com.companyname.personalityquiz.apk
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/environment.arm64-v8a.o
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/environment.arm64-v8a.s
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/environment.armeabi-v7a.o
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/environment.armeabi-v7a.s
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/environment.x86.o
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/environment.x86.s
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/environment.x86_64.o
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/environment.x86_64.s
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/classes/mono/android/support/v4/view/accessibility/AccessibilityManagerCompat_TouchExplorationStateChangeListenerImplementor.class
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/src/mono/MonoPackageManager_Resources.java
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/app_shared_libraries/arm64-v8a/libxamarin-app.so
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/app_shared_libraries/armeabi-v7a/libxamarin-app.so
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/app_shared_libraries/x86/libxamarin-app.so
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/app_shared_libraries/x86_64/libxamarin-app.so
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/buildid.txt
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/customview-map.txt
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/075e67e7f3b06189a65d1f64720e3e5f6a5a1441.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/075e67e7f3b06189a65d1f64720e3e5f6a5a1441.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/50338f50c0c477641d4d00bf0c952092f6e59bd7.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/7f5677a278f8a26cc1ddde6de2f42c3a92a43c3d.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/7cbf140b5ec2161716819048bf9ecb07f417bcb0.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/7cbf140b5ec2161716819048bf9ecb07f417bcb0.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/6ec55c351bdbc2bf76d10145031810ce58add846.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/6ec55c351bdbc2bf76d10145031810ce58add846.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/67a5674f43117c85f19e611a7df562bd7f4fa909.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/67a5674f43117c85f19e611a7df562bd7f4fa909.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/54dd98e9091b22a875d8daa997e96fc09e0d47ae.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/54dd98e9091b22a875d8daa997e96fc09e0d47ae.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/50338f50c0c477641d4d00bf0c952092f6e59bd7.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/classes/mono/android/support/v4/view/accessibility/AccessibilityManagerCompat_TouchExplorationStateChangeListenerImplementor.class
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/libraryprojectimports.cache
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/e5859572246855520fe2f204eb5580c0fd24a735.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/e5859572246855520fe2f204eb5580c0fd24a735.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/bf5a8f45209431cb1d1f5d8e9dae74bfcd2a1d04.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/bf5a8f45209431cb1d1f5d8e9dae74bfcd2a1d04.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/b614f9c1b0148cb689ce96b504fca5a8496e9dd9.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/b614f9c1b0148cb689ce96b504fca5a8496e9dd9.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/84ef68d8a9e41810ea2139bc9ce73f3305cc8907.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/84ef68d8a9e41810ea2139bc9ce73f3305cc8907.flata
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/flata/7f5677a278f8a26cc1ddde6de2f42c3a92a43c3d.stamp
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/classes/mono/android/support/v4/view/accessibility/AccessibilityManagerCompat_TouchExplorationStateChangeListenerImplementor.class
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/PersonalityQuiz.Android.dll
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/PersonalityQuiz.Android.csprojAssemblyReference.cache
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/PersonalityQuiz.Android.csproj.FileListAbsolute.txt
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/linksrc/PersonalityQuiz.pdb
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/linksrc/PersonalityQuiz.dll
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/linksrc/PersonalityQuiz.Android.pdb
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/linksrc/PersonalityQuiz.Android.dll
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/linkdst/Xamarin.Forms.Platform.Android.dll
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/linkdst/PersonalityQuiz.Android.pdb
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/linkdst/PersonalityQuiz.Android.dll
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/classes/mono/android/support/v4/view/accessibility/AccessibilityManagerCompat_TouchExplorationStateChangeListenerImplementor.class
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/resolvedassemblies.hash
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/resolved_assemblies.txt
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/PersonalityQuiz.Android.pdb
PersonalityQuiz/PersonalityQuiz.Android/obj/Debug/90/android/bin/classes/mono/android/support/v4/view/accessibility/AccessibilityManagerCompat_TouchExplorationStateChangeListenerImplementor.class
